body {
    font-family: Poppins;
    background-color: Very Light hsl(0, 0%, 98%);
}

#h1 {
    font-weight: 200;
    color: #AFB1B7;
}

#h2 {
    font-weight: 600;
}

#p1 {
    padding: 0 400px 0 400px;
}

p {
    font-size: 15px;
    color: #B2B1B6;
}

.header-div {
    width: 100%;
}

.header-text {
    margin: 0 auto;
    width: 100%;
}

.column {
    float: left;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*testing*/
.row2 {
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    width: 250px;
    margin: 5px;
    height: 170px;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}

.card-left {
    margin-top: 150px;
    margin-right: 20px;
    border-top: 3px solid hsl(180, 62%, 55%);
}

.card-right {
    margin-top: 150px;
    margin-left: 20px;
    border-top: 3px solid hsl(212, 86%, 64%);
}

.center-card-top {
    border-top: 3px solid hsl(0, 78%, 62%);
}

.center-card-bottom {
    margin-top: 20px;
    border-top: 3px solid hsl(34, 97%, 64%);
}

.bottomright {
    position: absolute;
    bottom: 20px;
    right: 16px;
}

.text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    #h1 {
        width: 100%;
        font-size: x-large;
        font-weight: 200;
    }

    #h2 {
        width: 100%;
        font-size: x-large;
        font-weight: 600;
    }

    #p1 {
        padding: 0;
    }

    .row2 {
        width: 100%;
        margin: 0 auto;
        margin-top: 35px;
        padding: 0 10px 0 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .column {
        width: 90%;
    }

    .card {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        width: 250px;
        margin: 5px;
        height: 170px;
        border-radius: 8px;
        padding: 20px;
        position: relative;
    }

    .card-left {
        width: 250px;
        margin: 0 20px 0 20px;
        margin-bottom: 20px;
        border-top: 3px solid hsl(180, 62%, 55%);
    }

    .card-right {
        width: 250px;
        margin: 0 20px 0 20px;
        margin-top: 20px;
        border-top: 3px solid hsl(212, 86%, 64%);
    }

    .center-card-top {
        width: 250px;
        margin-left: 20px;
        border-top: 3px solid hsl(0, 78%, 62%);
    }

    .center-card-bottom {
        width: 250px;
        margin-top: 20px;
        margin-left: 20px;
        border-top: 3px solid hsl(34, 97%, 64%);
    }
}